.pl-mb {
    color: #fff;
  }
  .pl-c {
    color: #6c6;
  }
  /* comment */
  .pl-ent {
    color: #93d38c;
  }
  /* entity */
  .pl-e,
  .pl-en {
    color: #c9aDf3;
  }
  /* entity attribute */
  .pl-smi {
    color: #f6a;
  }
  .pl-k {
    color: #f6c;
  }
  .pl-c1,
  .pl-s .pl-v {
    color: #0df;
  }
  .pl-pds,
  .pl-s,
  .pl-s .pl-pse .pl-s1,
  .pl-sr,
  .pl-sr .pl-cce,
  .pl-sr .pl-sra,
  .pl-sr .pl-sre {
    color: #88a6f8;
  }
  /* strings */
  .diff-table .pl-c,
  .diff-table .pl-ent,
  .diff-table .pl-e,
  .diff-table .pl-en,
  .diff-table .pl-pds,
  .diff-table .pl-s,
  .diff-table .pl-s .pl-pse .pl-s1,
  .diff-table .pl-sr,
  .diff-table .pl-sr .pl-cce,
  .diff-table .pl-sr .pl-sra,
  .diff-table .pl-sr .pl-sre,
  .diff-table .pl-k,
  .diff-table .pl-smi,
  .diff-table .pl-c1,
  .diff-table .pl-v {
    color: #fff;
  }
